{
    "presets":[
        ["env",{
            "targets":{
                "browser":  [
                    "last 5 versions",
                    "ie >= 8" //internet explorer 8
                ]
            }
        }]
    ]
} 